<!DOCTYPE html>
<html>
  <head>
    <title>Dream and Code</title>
     <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <audio id="myAudio">
         <source src= "zic.mp3" type="audio/mp3">
         <source src="zic.ogg" type="audio/ogg">

  </audio>
  </head>

  <!-- <button class= "mon-bouton2" onclick="playAudio()"  >Oh my <strong> Gad </strong> !</button> -->


   <body class="mon-body">
     <div id="conteneur">

         <div class="display-4" ">dREAM</div>

         <div c class="display-4" ">lEARN</div>

         <div class="display-4" ">cODE</div>

     </div>
<!-- <img image_tag("curs.png") /> -->
    <!--  <img alt="Icon" src="/assets/icon" /> -->
    <ul class="conteneurcj1 flex-end flex-mar ">
       <ul class="conteneurcj2 flex-end flex-mar ">

          <button type="button" class="btn">iNFO</button>
          <button type="button" class="btn">hISTORY</button>
          <button type="button" class="btn">cONTACT</button>
          <button type="button" class="btn">fAQ</button>

      </ul>
    </ul>
<!-- <button type="button" class="btn">Warning</button>
<button type="button" class="btn">Info</button>
-->

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    kNOWLEDGE
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">rUBY</a>
    <a class="dropdown-item" href="#">rAILS</a>
    <a class="dropdown-item" href="#">hTML</a>
    <a class="dropdown-item" href="#">cSS</a>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<!--<button class= "mon-bouton2" onclick="playAudio()"  >Oh my <strong> Gad </strong> !</button> -->




<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <span> "B O N J O U R Christine!" </span>
    </div>
  </div>
</div>
<img src="image.png">

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
        <span> "B O N J O U R    T O U J O U R S Christine!" </span>
    </div>
  </div>
</div>
-->



    <%= yield %>
  </body>
<script src="app/assets/javascripts/application.js"></script>
</html>
